  .aboutme img{
    height: 120px;
    width: 120px;
    position: absolute;
    top: -15px;
    left: 40px;
}
  nav {
    height: 100px;
    width: 100vw;
    background: #6c3b2c;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    top: 0px;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
    z-index: 2;
  }
  nav .mainMenu li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.25s ease;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
  }
  .fa {color: white;}
  nav .mainMenu li a:hover {
    background: #66231a;
    z-index: 2;
    border-radius: 10px;
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    z-index: 2;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
  }
  @media (max-width: 1024px) {
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background:  #66231a;
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: #34495e; 
	  border-radius: 20px;
	  padding: 20px;
	  width: fit-content;
	  height: 20px;
	  transition: all .75s ease;
    }
    .icons i {
      display: none;
    }
  }
  