body{
	height: 100vh;
	font-family: "Raleway", sans-serif;
	background-color: #240f0c;
}

div p {
    
    border: 5px solid #66231a;
    padding: 10px;
    position: absolute;
    top: 100px;
    color:white;
    font-style: bold;

  }